html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#svg {
/*	position: absolute;
	top: 50%;
	left: 50%;*/
	width: 266px;
	height: 268px;
	background: #999;
	border-radius: 50%;
	/*margin: -130px 0 0 -130px;*/
	transform: rotateZ(90deg);
}

.path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dash 10s linear infinite;
  }

  @keyframes dash {
  to {
    stroke-dashoffset: 750;
  }
}